<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transitfleets Services</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/services_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="header">

        <div class="header-left">
            <img id="logo" src="images/logo.png" alt="logo">
            <span id="logo_name">Transitfleets</span>
        </div>
        <div class="menu-toggle" onclick="document.querySelector('.header-right').classList.toggle('active')">☰</div>

        <!-- <img id="logo" src="images/logo.png" alt="logo">
            <a id="logo_name">Transitfleets</a> -->
        <div class="header-right">
            <a href="home" id="home">HOME</a>
            <a href="about" id="about">ABOUT</a>
            <a href="services" id="services">SERVICES</a>
            <a href="contact" id="contact">CONTACT</a>
           
        </div>

    </div>



    <div id="services_first">
        <img src="/images/services_pg_image_1.jpg" alt="">
    </div>
   
    <div class="rectangle-clip">
        <span>OUR SERVICES</span>
    </div>


    <div class="first_section">
        <div class="left">
            <span>WE HAVE OVER 15+ YEARS <br> OF EXPERIENCE </span>
        </div>
        <div class="divider"></div>
        <div class="right">
            <span>TransitFleets, a division of Rohit Tours & Travels, is a trusted provider of corporate and executive
                transportation solutions. Based in Pune, we specialize in delivering safe, reliable, and comfortable
                mobility services for businesses and professionals. Our parent company, Rohit Tours & travels brings
                strong experience in Employee transportation and , ensuring that every journey with TransitFleets is
                seamless and professional.
                <br><span class="span1"> Vision: </span>To be the most trusted and preferred corporate mobility partner
                in
                India.
                <br><span class="span1"> Mission:</span> To provide reliable, safe, and time-efficient transportation
                solutions that enhance
                business productivity.
                <br> <span class="span1">Core Values:</span> Safety | Reliability | Professionalism | Customer-First |
                Sustainability</span>
        </div>
    </div>



    <div class="second_section">
        <div class="top">
            <span class="span1">Services we provide<br></span>
            <span class="span2">WHAT WE DO FOR YOU</span>
        </div>
        <div class="row1">
            <div class="box1">
                <div class="circle">
                    <span id="num">1</span>
                </div>

                <span id="span1">Corporate Employee Transport </span>
                <br>
                <span class="ser_content">
                    <p> Safe, reliable, and efficient daily transportation for employees,
                        ensuring they arrive on time, every time.</p>
                </span>
            </div>

            <div class="box2">
                <div class="circle">
                    <span id="num">2</span>
                </div>

                <span id="span1">Airport Pickup & Drop</span>
                <br>
                <span class="ser_content">
                    <p> Hassle-free airport transfers for executives, VIPs, and employees, with real-time flight
                        monitoring and professional chauffeurs.</p>
                </span>
            </div>



            <div class="box3">
                <div class="circle">
                    <span id="num">3</span>
                </div>

                <span id="span1">Executive & VIP Travel</span>
                <br>
                <span class="ser_content">
                    <p>Premium chauffeur-driven services for high-profile clients, offering comfort, privacy, and a
                        first-class travel experience.</p>
                </span>
            </div>


        </div>
        <div class="row2">
            <div class="box4">
                <div class="circle">
                    <span id="num">4</span>
                </div>

                <span id="span1">Tailored Travel Solutions</span>
                <br>
                <span class="ser_content">
                    <p> Flexible routes and schedules customized to meet organizational requirements, including special
                        events, client meetings, and business travel.
                    </p>
                </span>
            </div>

            <div class="box5">
                <div class="circle">
                    <span id="num">5</span>
                </div>

                <span id="span1">Safety & Security</span>
                <br>
                <span class="ser_content">
                    <p> All vehicles are GPS-enabled, maintained to high standards, and driven by trained professionals
                        to ensure maximum safety.
                    </p>
                </span>
            </div>

            <div class="box6">
                <div class="circle">
                    <span id="num">6</span>
                </div>

                <span id="span1">Customized Travel Plans</span>
                <br>
                <span class="ser_content">
                    <p>Flexible routes and schedules designed to meet unique corporate needs, events, and business
                        requirements. </p>
                </span>
            </div>

        </div>
    </div>











    <div id="fourth">
        <section id="contact_details">
            <div id="links">
                <p id="p_head1">QUICK LINKS</p>
                <p><a href="home.html">Home</a> </p>
                <p><a href="about.html">About</a></p>
                <p><a href="services.html">Services</a></p>
                <p><a href="contact.html">Contact Us</a></p>
            </div>
            <div id="our_services">
                <p id="p_head2">OUR SERVICES</p>
                <p>Corporate Employee Transportation</p>
                <p>Premium Cab Services for Businesses</p>
                <p>Airport Transfers (Pickup & Drop)</p>
                <p>Outstation Corporate Travel</p>
                <p>Event & Conference Transportation</p>
                <p>Shuttle Services for Employees</p>
                <p>VIP / Luxury Car Rentals</p>
                <p>24x7 Chauffeur-Driven Services</p>


            </div>
            <div id="contact_us">
                <p id="p_head3">Contact Us</p>
                <p>Phone<br>
                    +91 9881043606 | +91 7666570996</p>
                <p> Mail-id<br>
                    info@transitfleets.com | solaskarkps7@gmail.com</p>
                <p>Triveni nagar Bhekrai Nagar Phursungi Hadapsar Pune</p>


            </div>
        </section>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>